%rows
  %page= @page_info[:page]
  %total= @page_info[:pages]
  %records= @page_info[:all_rows].size
  - @rows.each do |row|
    %row{:id => row.id}
      - gp.columns.each do |col|
        %cell= row.send(col)