%span.table-title= table.title
%script{:type => 'text/javascript', :src => table.table_setup_js_url}
%a{:href => "#", :id => "#{table.table_id}_search_link"}= "Search"
%table{:id => table.table_id, :class => 'flow-grid'}
